---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import Menu from "../../components/Menu.astro";
import History from "../../components/History.svelte";
import Draggable from "../../components/Draggable.svelte";

export async function getStaticPaths() {
  const posts = await getCollection("garden");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
// type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout footer={false}>
    <main class="grid gap-4 mb-4">
      <Menu cur="(Back to 🪴)" url="/e" />
      <h2 class="text-4xl">
        {post.data.title}
      </h2>
      <div class="relative mx-2">
          <div class="md:hidden prose prose-lg md:w-[48rem]">
              <Content />
            </div>
          <Draggable custom={"hidden md:block"} x={-30} alwaysShow={true} client:load>
              <div class="prose prose-lg md:w-[48rem]">
                  <Content />
            </div>
          </Draggable>
      </div>
    </main>
    <Draggable x={30} bottom={true} show={false} fixed={true} color={"md:bg-green-50"} custom={"hidden md:block"} client:load>
            <a class="text-purple-500 font-medium hover:bg-yellow-300 hover:text-neutral-950" href="/e">(Back to 🪴)</a>
    </Draggable>
</BaseLayout>
