---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Menu from "../../components/Menu.astro";
import History from "../../components/History.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";

const posts = await getCollection("garden").then(y => y.filter(x => x.id.split("/").length === 1 || x.id.split("/")[1] === "index.md"))
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <main class="grid gap-4">
      <Menu cur="List" />
      <div class="prose prose-lg">
        <h2>Page Lists</h2>
        <ul>
          {
            posts.map((x) => (
              <li>
                <a href={`/e/${x.slug}`}>{x.data.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
    <History client:load />
    <Footer />
  </body>
</html>
