---
import Menu from "../../components/Menu.astro";
import Draggable from "../../components/Draggable.svelte";
import BaseLayout from "../../layouts/BaseLayout.astro"

import { getCollection } from "astro:content";

const posts = await getCollection("garden").then(y => y.filter(x => x.id.split("/").length === 1 || x.id.split("/")[1] === "index.md"))
---

<BaseLayout>
    <main class="grid gap-4">
      <Menu cur="Entries" />
      <div class="prose prose-lg">
        <h2>Page Lists</h2>
        <div class="prose prose-lg relative md:my-8">
          <div class="opacity-100 md:opacity-0">
              <ul>
                {
                  posts.map((x) => (
                    <li>
                      <a href={`/e/${x.slug}`}>{x.data.title}</a>
                    </li>
                  ))
                }
              </ul>
          </div>
          <div class="hidden md:block" aria-hidden="true">
            <Draggable x={-10} y={-15} color="bg-gray-50" show={false} client:load>
                <ul>
                  {
                    posts.map((x) => (
                      <li>
                        <a href={`/e/${x.slug}`}>{x.data.title}</a>
                      </li>
                    ))
                  }
                </ul>
            </Draggable>
          </div>
      </div>
    </main>
</BaseLayout>
