---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GardenList from "../components/ExpandedList.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import List from "../components/List.svelte";

const post = await Astro.glob("../content/blog/*");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="pc grid gap-8">
      <h1 class="text-3xl border-y border-black py-3 font-medium pr-2">
        ðŸª´ pub's digital garden
      </h1>
      <div class="grid md:grid-cols-4 gap-8">
        <div class="md:col-span-3 grid gap-5">
          {
            post.map((x) => {
              return (
                <div>
                  {x.frontmatter.list ? (
                    <GardenList
                      title={x.frontmatter.title}
                      list={x.frontmatter.list.map((y) => {
                        return { l: y };
                      })}
                      client:visible
                    />
                  ) : (
                    <List l={x.frontmatter.title} r2="ðŸ•ï¸" />
                  )}
                </div>
              );
            })
          }
        </div>
        <div class="order-first md:order-last">
          <div class="font-medium text-lg">filter</div>
          <div>tags</div>
          <div>date</div>
        </div>
      </div>
    </main>
    <Footer />
    <style>
      li > a {
        @apply px-1;
      }
      p {
        @apply text-justify;
      }
    </style>
  </body>
</html>
