---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PubLinks from "../components/PubLinks.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="pc grid gap-8">
      <h1 class="text-3xl border-y border-black py-3 font-medium pr-2">
        hi! my name is pub. i'm an interdisciplinary maker based in bangkok,
        thailand.
      </h1>
      <div>
        <div class="grid md:grid-cols-2 gap-3">
          <Card image="spaceth.jpeg" name="spaceth.co" />
          <Card image="grtn.jpeg" name="creatorsgarten" />
        </div>
        <div class="text-lg pr-2 mt-4 border-y border-black py-1">
          i'm currently working as an curator at <span class="font-medium"
            >creatorsgarten</span
          >, a collective of geeky creators who joined together to create cool,
          meaning things, and as an editor-in-chief at <span class="font-medium"
            >spaceth.co</span
          >, a space-focused media, promoting space democratization in thailand
          and southeast asia
        </div>
      </div>
      <div class="grid gap-3">
        <div class="flex justify-between items-end border-b border-black">
          <h2 class="text-2xl font-medium">works</h2>
          <h2 class="text-lg"><a href="works">more →</a></h2>
        </div>
        <div class="grid md:grid-cols-2 gap-3">
          <!-- <Card />
          <Card />
          <Card />
          <Card />
          <Card />
          <Card /> -->
          {
            [
              ["starstuff", "starstuff.png"],
              ["messe", "messe.jpeg"],
              ["forgotten, a theatrical play", "forgotten.webp"],
              ["bangkok open source hackathon", "bosh.webp"],
              ["chasing new horizons", "pluto.jpeg"],
              ["stupid hackathon in thailand", "sht7.jpeg"],
            ].map(([name, image]) => {
              return <Card name={name} image={image} />;
            })
          }
        </div>
        <ul
          class="hidden md:flex w-full justify-between py-1 border-t border-black font-medium"
        >
          <li><a href="/works#codes" class="pl-0">codes</a></li>
          <li><a href="/works#peoples">peoples</a></li>
          <li><a href="/works#contents">contents</a></li>
          <li><a href="/works#events">events</a></li>
          <li><a href="/works#arts">arts & lives</a></li>
          <li><a href="/works#side" class="pr-0">side projects</a></li>
        </ul>
      </div>
      <PubLinks />
      <div class="grid gap-3">
        <div class="flex justify-between items-end border-b border-black">
          <h2 class="text-2xl font-medium">appearances</h2>
          <h2 class="text-lg"><a href="appearances">more →</a></h2>
        </div>
        <div class="grid md:grid-cols-2 gap-3">
          <Card name="ted x utcc" image="ted.jpeg" />
          <Card
            name="they dig into the soil and talk by the hole"
            image="bccg.avif"
          />
          <Card name="science odyssey" image="book.jpeg" />
          <Card
            name="the 15th thailand olympiad in informatics"
            image="toi15.webp"
          />
        </div>
        <ul
          class="hidden md:flex w-full justify-between py-1 border-t border-black font-medium"
        >
          <li><a href="appearances#talks" class="pl-0">talks & panels</a></li>
          <li><a href="appearances#interviews">interviews</a></li>
          <li><a href="appearances#awards">awards & speeches</a></li>
          <li><a href="appearances#classes" class="pr-0">classes</a></li>
        </ul>
      </div>
    </main>
    <Footer />
    <style>
      li > a {
        @apply px-1;
      }
    </style>
  </body>
</html>
