---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="pc grid gap-8">
      <h1 class="text-3xl border-y border-black py-3 font-medium pr-2">
        hi! my name is pub. i'm an interdisciplinary maker based in bangkok,
        thailand.
      </h1>
      <div>
        <div class="grid md:grid-cols-3 gap-3">
          <Card image="spaceth.jpeg" name="spaceth.co" />
          <Card image="grtn.jpeg" name="creatorsgarten" />
          <div
            class="pr-3 md:px-3 items-center justify-center flex text-lg md:text-base"
          >
            I'm currently working as a curator at creatorsgarten collective, and
            as an editor-in-chief at spaceth.co
          </div>
        </div>
      </div>
      <div class="grid gap-3">
        <div class="flex justify-between items-end border-b border-black">
          <h2 class="text-2xl font-medium">works</h2>
          <h2 class="text-lg">more →</h2>
        </div>
        <div class="grid md:grid-cols-3 gap-3">
          <!-- <Card />
          <Card />
          <Card />
          <Card />
          <Card />
          <Card /> -->
          {
            [
              ["starstuff", "starstuff.png"],
              ["messe", "messe.jpeg"],
              ["book", "book.jpeg"],
              ["bangkok open source hackathon", "bosh.webp"],
              ["chasing new horizons", "pluto.jpeg"],
              ["stupid hackathon in thailand", "sht7.jpeg"],
            ].map(([name, image]) => {
              return <Card name={name} image={image} />;
            })
          }
        </div>
        <ul
          class="hidden md:flex w-full justify-between py-1 border-t border-black"
        >
          <li>codes</li>
          <li>peoples</li>
          <li>contents</li>
          <li>events</li>
          <li>arts & lives</li>
          <li>side projects</li>
        </ul>
      </div>
      <div class="bg-neutral-900 p-4 text-white">
        <div class="grid md:grid-cols-3 gap-y-4 text-xl">
          <!-- <Card />
          <Card />
          <Card /> -->
          <div class="flex md:justify-center md:items-center">
            📚 personal blog ↗
          </div>
          <div class="flex md:justify-center md:items-center">📸 gallery ↗</div>
          <div class="flex md:justify-center md:items-center">
            🪴 digital garden ↗
          </div>
        </div>
      </div>
      <div class="grid gap-3">
        <div class="flex justify-between items-end border-b border-black">
          <h2 class="text-2xl font-medium">displays</h2>
          <h2 class="text-lg">more →</h2>
        </div>
        <div class="grid md:grid-cols-3 gap-3">
          <Card name="ted x utcc" image="ted.jpeg" />
          <Card name="science odyssey" image="book.jpeg" />
          <Card
            name="the 15th thailand olympiad in informatics"
            image="toi15.webp"
          />
        </div>
        <ul
          class="hidden md:flex w-full justify-between py-1 border-t border-black"
        >
          <li>talks & panels</li>
          <li>interviews</li>
          <li>lectures</li>
          <li>awards & speeches</li>
        </ul>
      </div>
    </main>
    <Footer />
  </body>
</html>
