---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Gallery from "../components/Gallery.astro";
import History from "../components/History.svelte";
import Draggable from "../components/Draggable.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from 'astro:transitions';
---

<script>
    document.addEventListener("mousemove", (e) => {
        document.querySelector("#s").innerText = `${e.clientX}, ${e.clientY}`
    })
</script>
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} />
    <Draggable client:load>  -->
    <Draggable right={true} show={false} client:load>
        <History client:load />
    </Draggable>
    <slot />
    <Footer />
    <Draggable color="hidden md:block" right={true} bottom={true} client:load>
        <div id="s" class=" text-sm text-purple-500">X, Y</div>
    </Draggable>
    <!-- </Draggable>  -->
  </body>
</html>
